@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
/* common style */
.btn {
  background-color: #ff008e;
  padding: 10px 15px;
  border: 3px solid #ff008e;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 15px 0;
  color: white;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: transparent;
  color: white;
}
.section-title {
  text-align: center;
}
.section-title h1 {
  text-transform: uppercase;
  font-size: 25px;
  border-bottom: 3px solid #ff008e;
  display: inline-block;
  margin: 50px 0;
}
/* header section start */
header {
  background-image: url(images/cloud.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 90%, 0 100%);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.navigation {
  display: flex;
}
.navigation li {
  list-style: none;
  margin: 10px;
}
.navigation li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 15px 10px;
  transition: all 0.3s ease;
}
.navigation li a:hover {
  color: #ff008e;
}
/* banner */
.banner {
  height: calc(100vh - 80px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.banner-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.banner-left h1 {
  color: white;
  margin-bottom: 1rem;
  font-size: 35px;
}
.banner-left p {
  color: white;
  line-height: 1.5;
}

.banner-right {
  display: flex;
  align-items: flex-end;
}
.banner-right img {
  width: 100%;
}
/* feature section */
.cards {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}
.card {
  text-align: center;
  width: 300px;
  padding: 30px;
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}
.card i {
  background-color: #ff008e;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 10px;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.card h1 {
  margin-bottom: 1rem;
}
.card p {
  margin-bottom: 1rem;
}
